---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur Web Fullstack</h2>
		<p>Passionné par le développement complet d'applications, du front-end au back-end.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Technologies Modernes</h2>
		<p>Maîtrise de Ruby on Rails, JavaScript, HTML, CSS, SQL et bien plus encore.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="book" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Apprentissage Continu</h2>
		<p>Curieux et avide d'apprendre, je suis toujours à la recherche de nouvelles compétences et technologies à maîtriser.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
